@font-face {
    font-family: "homeChristmas";
    src: url("Home Christmas.otf");
}

*, *::before, *::after{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    font-family: 'Roboto Slab', serif;
    background-color: midnightblue;
    background-image: url("./images/sky.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;    
    color: white;
    min-height: 100vh;
}

/* layout */

.wrapper{
    width: 95%;
    max-width: 450px;
    margin: 0 auto;
}

.container{
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; 
    height: 90vh;
    max-height: 500px;
    width: 100%;
}

img{
    display: block;
    margin: 0 auto;
    /* width: 50%; */
    max-width: 130px;
}

.bar-container{
    width: 100%;
    background-color: rgba(255, 255, 255, .2);
    border-radius: 5px;
}

.bar{
    width: 100%;
    background-color: lime;
    height: 5px;
    border-radius: 5px;
}

.panel{
    width: 100%;
    max-width: 320px;
    padding: 15px; 
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    box-shadow: 0 0 5px;  
}

.hero-panel{
    height: 200px;
}

.energy-container,
.ui-panel,
.endgame-panel,
.encounter-panel{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.energy-container,
.ui-panel,
.endgame-panel{
    justify-content: center;
}

.encounter-panel{
    justify-content: space-evenly;
    height: 150px;
}

.ui-panel{
    height: 100px;
}

.emoji-container,
.end-emoji{
    font-size: 4rem;
    line-height: 1;
    padding-bottom: .1em;
}

.emoji-container{
    margin: 0;
}

.end-emoji{
    margin: .25em 0 .5em 0;
}

.energy-message-container,
.total-score-container,
.dice-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.total-score-container{
    margin-top: .5em;
}

.energy-message-container{
    width: 100%;
    margin-top: .5em;
}

.dice-container{
    gap: .75em;
}

.dice-total-container{
    font-size: 1.25rem;
    font-weight: 700;
    width: 1.5em;
    height: 1.5em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.player-total-container,
.encounter{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.player-total-container{
    width: 100%;
    max-width: 230px;
}

.encounter{
    width: 100%;
    max-width: 230px;
}

.dice{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: maroon;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    box-shadow: 1px 1px 5px lightslategray;
    width: 35px;
    height: 35px;
}

/* typography */

h1{
    text-align: center;
    font-family: "homeChristmas", cursive;
    letter-spacing: .1em;
    font-size: 1.25rem;
    font-weight: bold;
}

h2{
    text-align: center;
    margin: 0 0 .25em 0;
    font-size: 1rem;
    font-family: "homeChristmas", cursive;
    letter-spacing: .1em;
    font-weight: normal;
}

h3{
    margin: .5em 0;
    font-size: .875rem;
}

h4{
    margin: 0;
    font-size: .875rem;
}

p{
    font-size: .75rem;
    margin: .6em 0 0 0;
}

p:last-of-type{
    margin-bottom: 1em;
}
p:first-of-type{
    margin-top: 1em;
}

/* utility */

.flex{
    display: flex;
}

.hidden{
    display: none;
}

.semi-opaque{
    opacity: .4;
}

.red{
    background-color: red;
}

/* buttons */

button{
    width: 100%;
    padding: .125em .5em;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: .2em;
    margin-bottom: 1em;
    background-color: chartreuse;
    border-radius: 5px;
}

button:hover{
    cursor: pointer;
    background-color: greenyellow;
}

button:hover.semi-opaque{
    background-color: chartreuse;
}
